/*----BASE STYLES---*/
.navbar a {
    font-family    : $stack-bungee;
    text-decoration: none;
    padding        : 10px;
    color          : $secondary-color;
    text-shadow    : black 0.3em 0.3em 0.3em;

    &:hover {
        color: $hover-color;
    }
}
/*----HEADER STYLES---*/
.navbar {
    background-color: $primary-color;
}

.navbar-brand {
    font-family: $stack-bungee;
    color      : $secondary-color;
    font-size  : 22px;
}

.nav-pills > li > a {
    border-radius: 4px;
    font-size    : 18px;
}
