<!--Search Bar and Intro-->
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Welcome to Park to Play CO!</h1>
        <p class="lead text-center">To find available parking for that place you always been wanting to swing by or heard about!
        </p>
        <button class="btn text-center">Search for Venues</button>
    </div>
</div>

<!--Site Info-->
<div class="container">
    <div class="row marketing">
        <div class="col-sm-6 text-center">
            <i class="fa fa-map-pin"></i>
            <h2>Find where you want to go</h2>
            <p class="lead">Search for an venue and get reviews and information about it before you go!</p>
        </div>
        <div class="col-sm-6 text-center">
            <i class="fa fa-car"></i>
            <h2>Locate parking close to your venue before you get there</h2>
            <p class="lead">If you like the venue and want to check it out, look to see if parking available to avoid the hassle of driving around for an parking spot!
            </div>
        </div>
    </div>
