/*----BASE STYLES---*/
.navbar a {
    font-family    : $stack-bungee;
    text-decoration: none;
    padding        : 10px;
    color          : $secondary-color;
    text-shadow    : black 0.3em 0.3em 0.3em;

    &:hover {
        color: $hover-color;
    }
}

body {
    padding-top: 50px;
}

h1 {
    font-family: $stack-bungee;
}

h5 {
    font-family: $stack-lato;
}

.lead {
    font-family: $stack-lato;
}

.sitemap {
    font-family   : $stack-lato;
    padding-bottom: 10px;
}

.jumbotron {
    margin-bottom      : 0;
    background-image   : url('../img/denver.jpg');
    background-position: 0 45%;
    background-size    : cover;
    background-repeat  : no-repeat;
    color              : $secondary-color;
    text-shadow        : black 0.3em 0.3em 0.3em;
    padding-top        : 15%;
    padding-bottom     : 10%;
}
