.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-family: 'Bungee Inline', cursive;
}

a {
    float          : right;
    font-family    : 'Bungee Inline', cursive;
    text-decoration: none;
    float          : right;
    padding        : 10px;
}
