/*----BUTTON STYLES---*/
.input-holder {
    position: relative;
}

#search {
    color      : $secondary-color;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.btn {
    background-color: $primary-color;
    font-family     : $stack-lato;
    color           : $secondary-color;

    &:hover {
        color           : $hover-color;
        background-color: black;
    }
}
